body {
    background: url('../img/background.jpg') no-repeat bottom left;
    background-size: cover;
    min-height: 100vh;
}

.nav-link {
    cursor: pointer;
}

.navbar-dark {
    min-height: 131px;
}

.bg-dark {
    background-color: rgba(13,13,13,.7) !important;
}

.btn-menu {
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: .03em;
    text-shadow: 1px 1px 2px #000;
    border-radius: .31em 0 .31em 0;
    -moz-box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
    -webkit-box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
    box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
}

.dropdown-menu {
    background-color: transparent !important;
    border-color: transparent !important;
}

.dropdown-menu li {
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    letter-spacing: .03em;
    text-shadow: 1px 1px 2px #000;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: .31em 0 .31em 0;
    -moz-box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
    -webkit-box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
    box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
}

.dropdown-menu li:hover {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

.logo {
    width: 100%;
    height: auto;
    max-width: 113px;
    border-radius: 50%;
    border: 1px solid #fff;
    -moz-box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
    -webkit-box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
    box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
}

.navbar-brand {
    font-size: 2.3em;
    font-weight: 900;
    letter-spacing: .17em;
    text-shadow: 2px 2px 1px #000;
}

.table {
    justify-content: center;
    max-width: 97vw;
    margin: 2em auto;
}

.table-heading {
    justify-content: center;
    max-width: 97vw;
    margin: 2em auto !important;
}

.table-content {
    justify-content: flex-start;
    max-width: 95vw;
    background: rgba(255,255,255,.3);
    border-radius: .31em 0 .31em 0;
    margin: 2em auto !important;
    padding: 1.1em 0;
    -moz-box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
    -webkit-box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
    box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
}

.cell {
    padding: 0 2.3em;
}

.cell p {
    font-size: 1.1em;
}

.fa-comment-dots {
    background: #28a745;
    color: #fff;
    border-radius: 50%;
    padding: 6px;
    -moz-box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
    -webkit-box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
    box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
}

.mapa {
    width: 100%;
    height: 50vh;
    border-radius: 23px;
    border: 3px solid #fff;
    margin-top: 27px;
    -moz-box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
    -webkit-box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
    box-shadow: 0 3px 5px 0 rgba(13, 13, 13, .7);
}

.buttons, .card-header {
    background: #6fdd88 !important;
}

.buttons:hover, .card-header:hover {
    background: #46d366;
}

h5 {
    font-style: 1.4em;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
}

@media only screen and (max-width: 500px) {
    .mapa {
        height: 27vh;
    }
}