<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="shortcut icon" sizes="196x196" href="./img/nysl_logo.png" />
        <link rel="apple-touch-icon" href="./img/nysl_logo.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="./img/nysl_logo.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="./img/nysl_logo.png" />
         <!-- Carga de stylos personalizados -->
         <link rel="stylesheet" href="./css/style.css"></link>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></link>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="https://kit.fontawesome.com/992451679f.js"></script>

        <!-- viewPort jtds libreria generia sourceforge -->
    </head>
    <body>
        <!--<div class="container p-0 m-0" id="mainApp">-->
        <div id="mainApp">
            <nav class="navbar bg-dark navbar-dark">
                <img src="./img/nysl_logo.png" class="logo" />
                <a class="navbar-brand" href="#">NYSL</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item" data-toggle="collapse" data-target="#collapsibleNavbar">
                            <div v-show="logged">
                                <a class="nav-link" style="text-align: right" v-on:click="signoutAuth" >Logout</a>
                            </div>
                            <div v-show="unlogged">
                                <a class="nav-link" style="text-align: right" data-toggle="modal" data-target="#Login" >Login</a>
                            </div>
                            <a class="nav-link" style="text-align: right" data-toggle="modal" data-target="#Contact">Contact us!</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Modal Contact -->
            <div id="Contact" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title"><a href="mailto: nysl@chissocer.org">NYSL</a></h4><br>
                  </div>
                  <div class="modal-body">
                    <div v-for="contact in contacts">
                            <h2> {{ contact.Name }} </h2>
                            <p> {{ contact.Ocupation }} </p>
                            <img  src="./img/call.png">
                            <a  v-bind:href="'tel:' + contact.Phone"> {{ contact.Phone }} </p>
                            <img src="./img/mail.png">
                            <a  v-bind:href="'mailto: ' + contact.eMail">{{ contact.eMail }}</a>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Modal Contact -->

            <!-- Modal Contact -->
            <div id="Login" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">NYSL Login</h4><br>
                    </div>
                    <div class="modal-body">
                      <button class="btn btn-block sign-in"><a v-on:click="googleAuth">Sign in with Google</a></button>
                      <button class="btn btn-block sign-in" ><a v-on:click="anonymousAuth">Sign in Anonymous</a></button>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>
            <!-- End Modal Contact -->

            <!-- Month Selection -->
            <div class="row table-heading">
                <div class="col-4">
                    <button type="button" class="btn btn-block btn-secondary btn-menu">Month</button>
                </div>
                <div class="col-8">
                    <div class="dropdown">
                        <button type="button" class="btn btn-success btn-block dropdown-toggle btn-menu" data-toggle="dropdown"> {{ selectedMonth }} </button>
                        <ul class="dropdown-menu btn-block">
                            <li class="btn btn-block" v-on:click="changeSelection('September')">September</li>
                            <li class="btn btn-block" v-on:click="changeSelection('October')">October</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Month Selection -->

            <!-- Portrait Display -->
            <div v-show="portrait">
                <div v-for="scheduleMonthly in schedules" v-show="selectedMonth == scheduleMonthly.Month">
                        <div v-for="date,dindex in scheduleMonthly.Date">
                            <h5 class="p-2 m-0" style="text-align: center"> {{ date.Day }} </h5>
                            <div class="accordion" id="accordion">
                                <div class="card m-2" v-for="match, mindex in date.Matches">
                                    <div class="card-header m-0" id="'match'+dindex+index">
                                        <h2 class="mb-0 d-flex justify-content-center">
                                                <button class="btn btn-block" data-toggle="collapse" data-parent="#accordion" v-bind:href="'#collapse-'+dindex+mindex" >{{ match.Team1}} vs. {{ match.Team2}}</button>
                                        </a>
                                        </h2>
                                    </div>
                                    <div v-bind:id="'collapse-'+dindex+mindex" class="collapse in">
                                        <div class="card-body">
                                            <h4>{{ match.Time}}</h4>
                                            <br>
                                            <h3>{{ match.Location }}</h3>
                                            <p> {{ match.Address }} </p>
                                            <div class=".col offset-*">
                                            <iframe v-bind:src="match.src" frameborder="0" class="mapa"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Portrait Display -->

            <!-- Landscape Display -->
            <div v-show="landscape">
                <div class="row table-content" >
                    <div class="col-6" v-for="scheduleMonthly in schedules" v-show="selectedMonth == scheduleMonthly.Month">
                        <div v-for="date in scheduleMonthly.Date">
                            <hr />
                            <h5 class="p-2 m-0" style="text-align: center"> {{ date.Day }} </h5>
                            <div class="card m-2 buttons" v-for="match in date.Matches">
                                <h2 class="mb-0 d-flex justify-content-center">
                                    <button class="btn btn-block" v-on:click="selectMatch(match)"> {{ match.Team1}} vs. {{ match.Team2}} </button>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 cell">
                        <div v-show="selectedMatch.Team1 !=''">
                            <p class="m-0"> Teams: {{ selectedMatch.Team1}} vs. {{ selectedMatch.Team2}} </p>
                            <p class="m-0"> Time: {{ selectedMatch.Time}} </p>
                            <p class="m-0"> Location: {{ selectedMatch.Location }}</p>
                            <p class="m-0"> Address: {{ selectedMatch.Address }} </p>
                            <div class="d-flex justify-content-center">
                                <iframe v-bind:src="selectedMatch.src" frameborder="0" class="mapa"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Landscape Display -->
            <div style="position: fixed; bottom: 10px; right: 10px; z-index: 1;" >
                <a class="nav-link" data-toggle="modal" data-target="#chat" v-on:click="getPost"><i class="far fa-comment-dots"></i></a>
            </div>

            <!-- Modal chat -->
            <div id="chat" class="modal fade" role="dialog">
                <div v-show="logged">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">NYSL - Forum</h4><br>
                          </div>
                          <div class="modal-body">
                            <!--
                            <div class="dropdown">
                                <button type="button" class="btn btn-success btn-block dropdown-toggle" data-toggle="dropdown"> select day - Match </button>
                                <ul class="dropdown-menu btn-block">
                                    <li class="btn btn-block" v-for="date in schedules.Date"> {{ date.day }} - {{ date.match }} </li>
                                </ul>
                            </div>-->
                            <!-- Chat -->
                            <div v-for="post in allPost">
                                <div class="card-header"> {{ post.fechaYhora  }} - {{ post.nombre  }} says: </div>
                                <div class="card-body"> {{ post.mensaje }} </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <input class="btn-block" v-model="messageText">
                            <button type="button" class="btn btn-default" v-on:click="newPost">Send</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="closeConnection">Close</button>
                          </div>
                        </div>
                    </div>
                </div>
                <div v-show="unlogged">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">NYSL - Forum</h4><br>
                          </div>
                          <div class="modal-body">
                            <h4>You´ve to be logged!</h4>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" v-on:close="closeConnection">Close</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- css: position:fixed botom 0 right 0 z index 1 -->

        <!-- update the version number as needed -->
        <!--<script defer src="/__/firebase/6.3.0/firebase-app.js"></script>-->
        <!-- include only the Firebase features as you need -->
        <script src="/__/firebase/6.3.1/firebase-app.js"></script>
        <script src="/__/firebase/6.3.3/firebase-auth.js"></script>
        <script src="/__/firebase/6.3.3/firebase-firestore.js"></script>
        <script src="/__/firebase/6.3.3/firebase-database.js"></script>
        <script src="/__/firebase/init.js"></script>

        <script src="./js/moment.js"></script>
        <!-- Carga de Vue.js -->
        <!-- development version -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- Carga de codigo en Vue.js -->
        <script src="./js/index.js"></script>
    </body>
</html>